@model IEnumerable<RoomViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="py-2 text-end mt-5 pt-4">
    <a asp-action="Create" class="btn btn-outline-success">Create New Room</a>
</div>
@if(Model.Count() > 0)
{
  <div class="container py-2 text-center">
         <h2 class="mb-4">All Room</h2>

        <div class="d-none d-md-inline-block form-inline ms-auto ms-0 me-md-3 my-2 my-md-0">
            <form asp-action="Index" class="d-flex">
                <div>
                    <input class="form-control me-2" type="number" placeholder="Search By Room Number" name="Number">
				</div>
                <div>
                    <input class="btn btn-outline-dark ms-2" type="submit" value="Search">
                </div>
            </form>
        </div>
    <table class=" container table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(r => r.RoomNumber)</th>
                <th>@Html.DisplayNameFor(r => r.Type)</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
          
                     @foreach (var room in Model)
                     {
					        <tr onclick="window.location='@Url.Action("Details","Room",new{Id = room.ID})'">

                                   <td>@room.RoomNumber</td>
                                   <td>@room.Type</td>
					    	     <partial name="_ButtonPartial" model="@room.ID.ToString()" />
					        </tr>
		             } 
              
			
        </tbody>

    </table>
  </div>
}
else
{
    
    <div class="about-section text-center">
         <div class="container">
			<h2 class="mb-4">Don't have Room</h2>
			<p>You Can to Add More Room.</p>
        </div> 
    </div>   

}
